.character-card {
  width: 12em;
  height: 15.7em;
  position: relative;
  background-color: black;
  color: white;
  cursor: pointer;
  overflow: hidden;

  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    0 100%
  );
}

.character-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12.1em;
  background-color: red;
  transition: height 0.3s ease;
  z-index: 1;
}

.character-card:hover::before {
  height: 100%;
}

.character-card .character-name,
.character-card .character-image,
.character-card .character-card-heart {
  position: relative;
  z-index: 2;
}

.character-card-heart {
  font-size: 1.5em;
  transition: color 0.3s ease;
  margin: 0 0.5em;
}

.character-card-heart.character-card-heart-outline {
  color: white;
}

.character-card-heart.character-card-heart-filled {
  font-size: 2em;
  color: red;
}

.character-card-not-favorite .character-card-heart.character-card-heart-filled {
  display: none;
}

.character-card-favorite .character-card-heart.character-card-heart-outline {
  display: none;
}

.character-card.character-card-favorite:hover
  .character-card-heart.character-card-heart-filled {
  color: white;
}

.character-image {
  height: 12em;
  width: 12em;
}

.character-name {
  display: flex;
  color: white;
  height: 5.5em;
  align-items: center;
  justify-content: space-between;
  font-size: 0.7em;
  text-transform: uppercase;
  padding: 0 10px 0 10px;
}
